
.dropdown{
    width: 100%;
 

}
.dropdown-pad{
  padding: 2px;
}

.dropdown-border{
 
  border: 1px solid $border-color;
}

.dropdown-grade__input{
  @extend  .width-100;
  @extend .dropdown-pad;
  @extend .dropdown-border;
  @extend .font-15;
}
.dropdown-calander__input{
  @extend  .width-100;
  @extend .dropdown-pad;
  @extend .dropdown-border;
  @extend .font-15;
}

.dropdown-calander__reportinput{
  @extend  .width-100;
  @extend .p6;
  @extend .dropdown-border;
  @extend .font-15;
}

